* {
  margin: 0.8% 2% 2% 2%;
  box-sizing: border-box;
}

#nav {
  background-color: aquamarine;
  padding: 1% 0.3% 0.3% 0.3%;
}
#navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#nav input{
  display: block;
  width: 2rem;
  height:1.5rem;
  position: absolute;
  top: -0.4rem;
  left:-1rem;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;

}

#nav span{
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin-bottom: 1%;
  position: relative;
  background-color: #5e5a5a;
  border-radius: 1% ;
  z-index: 1;
  transform-origin: 1rem;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

}
a{
  cursor: pointer;
  text-decoration: none;
}
nav{
  list-style: none;
  text-decoration: none;
}
#nav span:first-child {
transform-origin: 0% 0%;
}

#nav span:nth-last-child(2){
transform-origin: 0% 100%;

}

#nav input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg)
   translate(-2px, -1px);
   background-color: #232323;

}

#nav input:checked ~ span:nth-last-child(3){
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);

}

#nav input:checked ~ span:nth-last-child(2){

  transform:   rotate(-45deg)   translate(0,-1px);
}

#nav input:checked ~ ul{
  transform: none;
}
#paragraph {
  margin-top: 5%;
  padding: 3%;
  background-color: pink;
}
#article {
  box-sizing: border-box;
  height: 40vh;
  width: 80vw;
}
#sect {
  background-color: goldenrod;
  box-sizing: border-box;
  width: 40%;
  height: 80%;
  padding: 2.3%;
  display: flex;
  float: right;
  margin-bottom: 5%;
}

#sect1 {
  margin-top: 10%;
  height: 100vh;
  background-color: rgb(236, 232, 232);
  padding: 2%;
}

.image1 {
  /*justify-self: center;
    height:196px ; its advisable to use pxs in images rather than using percentages.
    width: 170px;*/
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .image1 {
    height: 551px;
    width: 420px;
    /*display:*//*image still displays block even after i have  commented it out. its inheriting the block property from the image1 class above*/ 
    /*width: 70%;*/
    margin-right: auto;
    margin-left: auto;
  }

  /*#image1{
        box-sizing: border-box;
         background-color: red;
         padding-left: 20%;
    }
     */
}
